<h1>Manage products</h1>

<app-file-picker
  [(file)]="selectedFile"
  (uploadClick)="onUploadCSV()"
></app-file-picker>

<table class="w-100" [dataSource]="products$" mat-table>
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let product">
      {{ product.originalName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let product">{{ product.rating }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let product">
      {{ product.price | number: "1.2-2" | currency }}
    </td>
  </ng-container>
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Translation</th>
    <td mat-cell *matCellDef="let product">{{ product.translation }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let product">
      <button class="text-uppercase mr-2" color="primary" mat-flat-button>
        manage
      </button>
      <button class="text-uppercase" color="warn" mat-flat-button>
        delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
