<mat-toolbar color="primary">
  <a routerLink="/" matTooltip="Open main page" class="home-link"
    >Fencing Equipment Shop</a
  >

  <div class="d-flex flex-fill"></div>

  <!-- Account btn -->
  <button
    [matMenuTriggerFor]="menu"
    matTooltip="Open account menu"
    mat-icon-button
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <!-- Cart btn -->
  <button routerLink="cart" matTooltip="Go to cart" mat-icon-button>
    <mat-icon [matBadge]="totalInCart$ | async" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>

  <!--  Sign in-->
  <button matTooltip="Sign in" mat-icon-button>
    <a
      href="https://bahdan-pantsialeyeu.auth.eu-central-1.amazoncognito.com/login?client_id=1sbf1bbef5endbe7fabbqovgap&response_type=code&scope=aws.cognito.signin.user.admin+email+openid+phone+profile&redirect_uri=https://dcr3ya7f5pdnv.cloudfront.net/admin/products"
      >Sign in</a
    >
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a routerLink="admin/orders" mat-menu-item>Manage orders</a>
  <a routerLink="admin/products" mat-menu-item>Manage products</a>
</mat-menu>
