@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.title {
  font-size: 60px;
  line-height: normal;
  text-align: center;
  border: 6px solid #212529;
  border-left: 0;
  border-right: 0;
  margin-bottom: 46px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 30px;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
