<mat-card>
  <div mat-card-image class="img-container">
    <div class="img-container__inner">
      <img
        src="https://source.unsplash.com/collection/28346982?sig={{ index }}"
        alt=""
      />
    </div>
  </div>

  <header>
    <div>
      <h3 class="name-overflow">
        {{ product.originalName }}
      </h3>
    </div>
  </header>

  <mat-card-content>
    <p class="name-overflow text-muted">Country: {{ product.country }}</p>
    <p class="name-overflow text-muted">Director: {{ product.director }}</p>
    <p class="name-overflow text-muted">Genre: {{ product.genre }}</p>
    <p>{{ product.price | number: "1.2-2" | currency }}</p>
  </mat-card-content>

  <mat-card-actions>
    <!-- Add to cart btn -->
    <button
      #cartBtn
      *ngIf="(countInCart$ | async) === 0"
      (click)="add()"
      color="accent"
      matTooltip="Add {{ product.originalName }} to cart"
      mat-icon-button
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <app-cart-count-controls
      #controls="countControls"
      *ngIf="(countInCart$ | async)! > 0"
      (increment)="add()"
      (decrement)="remove()"
      [productName]="product.originalName"
      [count]="(countInCart$ | async)!"
    ></app-cart-count-controls>
  </mat-card-actions>
</mat-card>
