/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/type";

body {
  overflow-y: scroll;
}

.mat-icon-button {
  // Fix vertical alignment for Firefox
  line-height: 1 !important;
}

// snackbar styles
.shop-snackbar-error {
  background-color: #ff0015;
  color: white;

  button {
    color: white;
    border: 1px solid;
  }
}

.mat-flat-button.mat-primary,
.mat-toolbar.mat-primary,
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #a7cb54;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #e762d7ff;
}

.mat-badge-accent .mat-badge-content {
  background: #e762d7ff;
}
