@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$red-palette, 500);
$my-accent: mat.define-palette(mat.$yellow-palette, 600);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);
